@* @implements IDisposable *@

@inject NavigationManager NavigationManager

<MudDrawer 
    id="nav-drawer" 
    @bind-Open="_open" 
    Elevation="1" 
    Variant="DrawerVariant.Responsive" 
    Breakpoint="Breakpoint.Md" 
    OverlayAutoClose="true">

    <MudDrawerHeader>
        <MudText Typo="Typo.h6">FarmXpert</MudText>
    </MudDrawerHeader>

    <MudNavMenu Class="h-100 d-flex flex-column justify-content-between pb-5">
        <div>
            <MudNavLink Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Map" Match="NavLinkMatch.All" Href="/map">Map</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.RequestPage" Match="NavLinkMatch.All" Href="/subsidies">Apply for Subsidies</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Article" Match="NavLinkMatch.All" Href="/my-documents">My Documents</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.History" Match="NavLinkMatch.All" Href="/application-history">Application History</MudNavLink>
        </div>

        <div>
            <AuthorizeView>
                <Authorized>
                    @* <MudNavLink Icon="@Icons.Material.Filled.AccountCircle" Match="NavLinkMatch.All" Href="/Account/Manage"> *@
                    @*     @context.User.Identity?.Name *@
                    @* </MudNavLink> *@
                    <form action="/Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <MudButton
                            StartIcon="@Icons.Material.Filled.Logout"
                            ButtonType="ButtonType.Submit"
                            Icon="@Icons.Material.Filled.Logout"
                            Match="NavLinkMatch.All"
                            Class="w-100 px-6">
                            <MudText Style="font-size: 14px; text-align: start" Class="w-100">
                                Logout
                            </MudText>
                        </MudButton>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Icon="@Icons.Material.Filled.PersonAdd" Match="NavLinkMatch.All" Href="/Account/Register">
                        Register
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Login" Match="NavLinkMatch.All" Href="/Account/Login">
                        Login
                    </MudNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </MudNavMenu>    
</MudDrawer>

@code {
    private bool _open = true;
    
    public void ToggleDrawer()
    {
        _open = !_open;
        Console.WriteLine($"Drawer toggled: {_open}");
    }
    
    private string? currentUrl;
    
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }
    
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}